@import 'theme';

.sea-theme {
    $uno-1: #d6e9ff;
    $uno-2: #88b4e7;
    $uno-3: #5d8cc0;
    $uno-4: #586f89;
    $uno-5: #444c55;
    $duo-1: #34febb;
    $duo-2: #32ae85;
    $duo-3: #42675a;
    $background: #1d262f;

    @include theme($uno-1, $uno-2, $uno-3, $uno-4, $uno-5, $duo-1, $duo-2, $duo-3, $background);
}
