.space-theme body {
  background: #24242e;
}
.space-theme h1,
.space-theme h2,
.space-theme h3,
.space-theme h4,
.space-theme h5,
.space-theme h6 {
  color: #bebeef;
}
.space-theme pre {
  border-top: 1px solid #8686cb;
  border-bottom: 1px solid #8686cb;
  background: #24242e;
  color: #8686cb;
}
.space-theme pre code {
  color: #7272a1;
  background: initial;
}
.space-theme pre code::before,
.space-theme pre code::after {
  content: initial;
}
.space-theme table {
  color: #8686cb;
}
.space-theme table thead th {
  color: #bebeef;
}
.space-theme table tbody td {
  color: #8686cb;
}
.space-theme table tbody td:first-child {
  color: #bebeef;
}
.space-theme table tr {
  color: #8686cb;
}
.space-theme a {
  color: #fe7734;
  border-bottom: 1px solid #b06845;
}
.space-theme a,
.space-theme a:hover {
  text-decoration: none;
}
.space-theme a:hover {
  background-color: #b06845;
}
.space-theme p,
.space-theme strong,
.space-theme em,
.space-theme ul,
.space-theme ol {
  color: #8686cb;
}
.space-theme blockquote,
.space-theme cite {
  color: #b06845;
  border-left: 1px solid #644c40;
  padding-left: 20px;
}
.space-theme blockquote p,
.space-theme cite p {
  color: #b06845;
}
.space-theme header {
  color: #8686cb;
}
.space-theme mark {
  background: #fe7734;
}
.space-theme code {
  color: #8686cb;
  background: #49495a;
  padding: 1px;
  border-radius: 5px;
}
.space-theme code::before,
.space-theme code::after {
  content: "`";
}
.space-theme .post-meta {
  color: #5b5b7b;
}
.space-theme div.highlight pre {
  background-color: initial;
  background: initial;
}
.space-theme .tags-label {
  color: #5b5b7b;
}
.space-theme .notes,
.space-theme .note {
  border-top: 1px solid #8686cb;
  border-bottom: 1px solid #8686cb;
  background: rgba(73, 73, 90, 0.3);
}
.space-theme .notes p,
.space-theme .note p {
  margin: 20px;
}

.sky-theme body {
  background: #2c2734;
}
.sky-theme h1,
.sky-theme h2,
.sky-theme h3,
.sky-theme h4,
.sky-theme h5,
.sky-theme h6 {
  color: #f1ebff;
}
.sky-theme pre {
  border-top: 1px solid #cab2fa;
  border-bottom: 1px solid #cab2fa;
  background: #2c2734;
  color: #cab2fa;
}
.sky-theme pre code {
  color: #ae91e8;
  background: initial;
}
.sky-theme pre code::before,
.sky-theme pre code::after {
  content: initial;
}
.sky-theme table {
  color: #cab2fa;
}
.sky-theme table thead th {
  color: #f1ebff;
}
.sky-theme table tbody td {
  color: #cab2fa;
}
.sky-theme table tbody td:first-child {
  color: #f1ebff;
}
.sky-theme table tr {
  color: #cab2fa;
}
.sky-theme a {
  color: #fec38f;
  border-bottom: 1px solid #b07745;
}
.sky-theme a,
.sky-theme a:hover {
  text-decoration: none;
}
.sky-theme a:hover {
  background-color: #b07745;
}
.sky-theme p,
.sky-theme strong,
.sky-theme em,
.sky-theme ul,
.sky-theme ol {
  color: #cab2fa;
}
.sky-theme blockquote,
.sky-theme cite {
  color: #b07745;
  border-left: 1px solid #765f4c;
  padding-left: 20px;
}
.sky-theme blockquote p,
.sky-theme cite p {
  color: #b07745;
}
.sky-theme header {
  color: #cab2fa;
}
.sky-theme mark {
  background: #fec38f;
}
.sky-theme code {
  color: #cab2fa;
  background: #544d60;
  padding: 1px;
  border-radius: 5px;
}
.sky-theme code::before,
.sky-theme code::after {
  content: "`";
}
.sky-theme .post-meta {
  color: #715f95;
}
.sky-theme div.highlight pre {
  background-color: initial;
  background: initial;
}
.sky-theme .tags-label {
  color: #715f95;
}
.sky-theme .notes,
.sky-theme .note {
  border-top: 1px solid #cab2fa;
  border-bottom: 1px solid #cab2fa;
  background: rgba(84, 77, 96, 0.3);
}
.sky-theme .notes p,
.sky-theme .note p {
  margin: 20px;
}

.earth-theme body {
  background: #2c2826;
}
.earth-theme h1,
.earth-theme h2,
.earth-theme h3,
.earth-theme h4,
.earth-theme h5,
.earth-theme h6 {
  color: #ffdac2;
}
.earth-theme pre {
  border-top: 1px solid #bd987f;
  border-bottom: 1px solid #bd987f;
  background: #2c2826;
  color: #bd987f;
}
.earth-theme pre code {
  color: #98755d;
  background: initial;
}
.earth-theme pre code::before,
.earth-theme pre code::after {
  content: initial;
}
.earth-theme table {
  color: #bd987f;
}
.earth-theme table thead th {
  color: #ffdac2;
}
.earth-theme table tbody td {
  color: #bd987f;
}
.earth-theme table tbody td:first-child {
  color: #ffdac2;
}
.earth-theme table tr {
  color: #bd987f;
}
.earth-theme a {
  color: #fecb52;
  border-bottom: 1px solid #b09045;
}
.earth-theme a,
.earth-theme a:hover {
  text-decoration: none;
}
.earth-theme a:hover {
  background-color: #b09045;
}
.earth-theme p,
.earth-theme strong,
.earth-theme em,
.earth-theme ul,
.earth-theme ol {
  color: #bd987f;
}
.earth-theme blockquote,
.earth-theme cite {
  color: #b09045;
  border-left: 1px solid #726546;
  padding-left: 20px;
}
.earth-theme blockquote p,
.earth-theme cite p {
  color: #b09045;
}
.earth-theme header {
  color: #bd987f;
}
.earth-theme mark {
  background: #fecb52;
}
.earth-theme code {
  color: #bd987f;
  background: #564b43;
  padding: 1px;
  border-radius: 5px;
}
.earth-theme code::before,
.earth-theme code::after {
  content: "`";
}
.earth-theme .post-meta {
  color: #705e51;
}
.earth-theme div.highlight pre {
  background-color: initial;
  background: initial;
}
.earth-theme .tags-label {
  color: #705e51;
}
.earth-theme .notes,
.earth-theme .note {
  border-top: 1px solid #bd987f;
  border-bottom: 1px solid #bd987f;
  background: rgba(86, 75, 67, 0.3);
}
.earth-theme .notes p,
.earth-theme .note p {
  margin: 20px;
}

.sea-theme body {
  background: #1d262f;
}
.sea-theme h1,
.sea-theme h2,
.sea-theme h3,
.sea-theme h4,
.sea-theme h5,
.sea-theme h6 {
  color: #d6e9ff;
}
.sea-theme pre {
  border-top: 1px solid #88b4e7;
  border-bottom: 1px solid #88b4e7;
  background: #1d262f;
  color: #88b4e7;
}
.sea-theme pre code {
  color: #5d8cc0;
  background: initial;
}
.sea-theme pre code::before,
.sea-theme pre code::after {
  content: initial;
}
.sea-theme table {
  color: #88b4e7;
}
.sea-theme table thead th {
  color: #d6e9ff;
}
.sea-theme table tbody td {
  color: #88b4e7;
}
.sea-theme table tbody td:first-child {
  color: #d6e9ff;
}
.sea-theme table tr {
  color: #88b4e7;
}
.sea-theme a {
  color: #34febb;
  border-bottom: 1px solid #32ae85;
}
.sea-theme a,
.sea-theme a:hover {
  text-decoration: none;
}
.sea-theme a:hover {
  background-color: #32ae85;
}
.sea-theme p,
.sea-theme strong,
.sea-theme em,
.sea-theme ul,
.sea-theme ol {
  color: #88b4e7;
}
.sea-theme blockquote,
.sea-theme cite {
  color: #32ae85;
  border-left: 1px solid #42675a;
  padding-left: 20px;
}
.sea-theme blockquote p,
.sea-theme cite p {
  color: #32ae85;
}
.sea-theme header {
  color: #88b4e7;
}
.sea-theme mark {
  background: #34febb;
}
.sea-theme code {
  color: #88b4e7;
  background: #444c55;
  padding: 1px;
  border-radius: 5px;
}
.sea-theme code::before,
.sea-theme code::after {
  content: "`";
}
.sea-theme .post-meta {
  color: #586f89;
}
.sea-theme div.highlight pre {
  background-color: initial;
  background: initial;
}
.sea-theme .tags-label {
  color: #586f89;
}
.sea-theme .notes,
.sea-theme .note {
  border-top: 1px solid #88b4e7;
  border-bottom: 1px solid #88b4e7;
  background: rgba(68, 76, 85, 0.3);
}
.sea-theme .notes p,
.sea-theme .note p {
  margin: 20px;
}

.forest-theme body {
  background: #2a2d2a;
}
.forest-theme h1,
.forest-theme h2,
.forest-theme h3,
.forest-theme h4,
.forest-theme h5,
.forest-theme h6 {
  color: #ddf8dd;
}
.forest-theme pre {
  border-top: 1px solid #a9bca9;
  border-bottom: 1px solid #a9bca9;
  background: #2a2d2a;
  color: #a9bca9;
}
.forest-theme pre code {
  color: #869886;
  background: initial;
}
.forest-theme pre code::before,
.forest-theme pre code::after {
  content: initial;
}
.forest-theme table {
  color: #a9bca9;
}
.forest-theme table thead th {
  color: #ddf8dd;
}
.forest-theme table tbody td {
  color: #a9bca9;
}
.forest-theme table tbody td:first-child {
  color: #ddf8dd;
}
.forest-theme table tr {
  color: #a9bca9;
}
.forest-theme a {
  color: #e7f98b;
  border-bottom: 1px solid #99a659;
}
.forest-theme a,
.forest-theme a:hover {
  text-decoration: none;
}
.forest-theme a:hover {
  background-color: #99a659;
}
.forest-theme p,
.forest-theme strong,
.forest-theme em,
.forest-theme ul,
.forest-theme ol {
  color: #a9bca9;
}
.forest-theme blockquote,
.forest-theme cite {
  color: #99a659;
  border-left: 1px solid #747a52;
  padding-left: 20px;
}
.forest-theme blockquote p,
.forest-theme cite p {
  color: #99a659;
}
.forest-theme header {
  color: #a9bca9;
}
.forest-theme mark {
  background: #e7f98b;
}
.forest-theme code {
  color: #a9bca9;
  background: #585f58;
  padding: 1px;
  border-radius: 5px;
}
.forest-theme code::before,
.forest-theme code::after {
  content: "`";
}
.forest-theme .post-meta {
  color: #738273;
}
.forest-theme div.highlight pre {
  background-color: initial;
  background: initial;
}
.forest-theme .tags-label {
  color: #738273;
}
.forest-theme .notes,
.forest-theme .note {
  border-top: 1px solid #a9bca9;
  border-bottom: 1px solid #a9bca9;
  background: rgba(88, 95, 88, 0.3);
}
.forest-theme .notes p,
.forest-theme .note p {
  margin: 20px;
}

body {
  font-family: "Fira Mono", monospace;
  text-rendering: geometricPrecision;
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 1em;
}

pre {
  border: unset;
  overflow: hidden;
  margin: unset;
  padding: unset;
}

table tbody td:first-child {
  font-weight: bolder;
}
table tr th {
  font-size: 14px;
}

p {
  margin: 20px 0px;
}

#tags {
  margin: unset;
  padding: unset;
}
#tags li {
  display: inline-block;
}

.tag-container {
  height: 50%;
}
.tag-container span,
.tag-container ul {
  display: inline-block;
}
.tag-container span p {
  margin: unset;
}

#title {
  margin-bottom: 0 !important;
}

#date::before {
  content: "";
}

div.chroma {
  background-color: initial;
}

/*# sourceMappingURL=index.css.map */
