$primary-color: #c4b4ff;
$secondary-color: #2a2634;

body {
    background: #2a2634;
    color: $primary-color;
    // font-family: 'Fira Sans', sans-serif;
    font-family: 'Fira Code', monospace;
}

h1::before {
    content: '# ';
}

h2::before {
    content: '## ';
}

h3::before {
    content: '### ';
}
