<head>
	{{ if .Site.GoogleAnalytics }}
	{{ template "_internal/google_analytics_async.html" . }}
	{{ else if .Site.Params.gtag }}
	{{- partial "gtag.html" . -}}
	{{ end }}

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<base href="{{ .Site.BaseURL }}" />
	<title>{{ .Site.Title }}</title>

	<link rel="stylesheet" href="https://unpkg.com/hack@0.8.1/dist/hack.css" />
	<link rel="stylesheet" href="https://unpkg.com/hack@0.8.1/dist/standard.css" />
	<link href="https://fonts.googleapis.com/css?family=Fira+Mono&display=swap" rel="stylesheet" />

	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/index.css" />

	<link rel="canonical" href="{{ .Permalink }}" />
</head>
