<head>
    <meta charset="utf-8" />

    <base href="{{ .Site.BaseURL }}" />
    <!-- <title>{{ .Title }} : spf13.com</title> -->
    <title>{{ .Site.Title }}</title>

    <link rel="stylesheet" href="https://unpkg.com/hack@0.8.1/dist/hack.css" />
    <link rel="stylesheet" href="https://unpkg.com/hack@0.8.1/dist/standard.css" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Fira+Code|Fira+Sans&display=swap" rel="stylesheet" /> -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/index.css" />

    <link rel="canonical" href="{{ .Permalink }}" />
</head>
